body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    margin-top: -175px; /* Ajuste o valor negativo conforme necessário para mover a imagem para cima */
}

.container img {
    width: 200px; /* Substitua 200px pela largura desejada */
    height: auto; /* Isso mantém a proporção original da imagem */
}

.text-container {
    margin-top: 20px; /* Espaçamento entre a imagem e o texto */
}

h1, p {
    margin: 0; /* Remove margens padrão para melhorar a aparência */
}

.navigation {
    margin-top: 20px;
}

.arrow {
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    color: #F5E6E8;
}

:root {
    --purple: #745C97;
    --purple-opaco: rgba(116, 92, 151, 0.5);
    --light-color: #F5E6E8;
    --dark-color: #252525;
    --dark-color-opaco: rgba(37, 37, 37, 0.5);

}

@keyframes desfoque {
    from {filter: blur(10px);}
    to {filter: blur(0)}

}

@keyframes fadeIn {
    from {
        color: rgb(245, 230, 232, 0);}

    to {
        opacity: 1;}
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Indie Flower', cursive;
    background-color: #000000;
    padding: 1rem;
}



h2, h3, p {
    color: var(--light-color);
}

/* HEADER ANTES */



/* HEADER DEPOIS */

.cabeçalho {
    position: relative;
    z-index: 2;
    display: flex;

}

.cabeçalho h2{
    font-size: 3rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.cabeçalho nav {
    margin-left: 2rem;
    margin-top: 2.4rem;
}

.cabeçalho nav a {
    text-decoration: none;
    color: var(--light-color); 
    padding: 10px 20px; 
    cursor: pointer;

}

.cabeçalho nav a:hover {
    text-decoration: none;
    color: var(--purple); 
    font-size: 15.8px;

}


/* SECTION */

.inteiro {
    background-color: var(--dark-color);
    width: 100%;
    height: 78vh;
    display: flex;
    position: relative;
    padding: 20px;
    z-index: 2;
    display: flex;
}

.borda {
    border: solid var(--light-color) 0.5px;
    position: relative;
    width: 100%;
    height: 100%;
}

.textos {
    color: var(--light-color);
    font-weight: 400;
    font-size: 0.9rem;
    margin-left: 150px;
    margin-top: 50px;
}

.textos h3 {
    font-size: 2.2rem;
}

.inteiro img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 150px;
    width: 250px;
    height: 200px;
}
